:root {
  --colorBrand: #320061;
  --verde: lightgreen;
  --blancoAzul: azure;
  --black: #333333;
  --gray: darkslategray;
  --sm: 16px;
  --md: 20px;
  --lg: 24px;
  --xl: 32px;
  --fontTitle: Monserrat;
  --fontText: Nunito;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
a,
ul {
  list-style: none;
  text-decoration: none;
}
.grid-container {
  max-width: 940px;
  margin: auto;
}
@media (max-width: 400px) {
  .fixedBar h2 {
    display: none;
  }
  .mainNav ul {
    gap: 20px;
  }
}

/* Fixed bar */

.fixedBar {
  width: 100%;
  height: 30px;
  padding: 10px 30px;
  background-color: var(--colorBrand);
  color: var(--blancoAzul);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fixedBar h2 {
  line-height: 22px;
  font-size: var(--sm);
}
.fixedBar-logos {
  display: flex;
  align-items: center;
  gap: 10px;
}
.fixedBar-logos img {
  width: 25px;
}
/* mainNav */

.mainNav {
  width: 100%;
  height: 100%;
  min-height: 35px;
  padding: 5px;
  background-color: var(--verde);
  display: grid;
  place-content: center;
}
.mainNav ul {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--sm);
  font-weight: bold;
  justify-content: center;
  gap: 10px;
}
.mainNav ul li {
  display: grid;
  place-content: center;
  min-width: 100px;
}
.mainNav ul li a {
  color: var(--gray);
  text-align: center;
  font-family: 'Montserrat', sans-serif ;
}
.mainNav ul li:hover a {
  color: var(--colorBrand);
  border-bottom: 2px solid var(--colorBrand);
}
/* cover */
.cover {
  background-color: var(--blancoAzul);
  width: 100%;
  height: 80vh;
  display: grid;
  place-content: center;
}
.cover-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.cover-text h2,
.cover-text span {
  font-family: 'Montserrat', sans-serif ;
  margin: 10px 0;
  font-size: var(--lg);
  font-weight: 400;
}
.cover-text span {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif ;
  color: var(--colorBrand);
}
.magic-circle {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: var(--blancoAzul);
  border-radius: 50%;
  overflow: hidden;
}
.magic-circle::before {
  content: "";
  position: absolute;
  inset: -10px 90px;
  background: linear-gradient(180deg, lightgreen 0%, rgba(49, 0, 98, 1) 100%);
  transition: all 200ms;
  animation: rotate 3s linear infinite;
}
.magic-circle:hover::before {
  inset: -20px 0px;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.magic-circle::after {
  content: "";
  position: absolute;
  inset: 6px;
  background-color: var(--blancoAzul);
  border-radius: 50%;
  z-index: 1;
}
.box-circle {
  position: absolute;
  inset: 20px;
  border: 6px solid var(--black);
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  gap: 14px;
  background-color: #320061;
  color: var(--blancoAzul);
}
.box-circle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 300ms;
}
.box-circle:hover img {
  opacity: 0;
}
/* cover-footer */
.cover-footer {
  width: 100%;
  height: 5vh;
  background-color: var(--blancoAzul);
  padding: 0 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.cover-footer .leng {
  font-size: 10px;
}
.cover-footer .leng a:hover {
  color: var(--colorBrand);
  font-weight: 700;
}
.cover-footer .down-icon img {
  width: 16px;
}
.button-CV button {
  background-color: var(--colorBrand);
  border: none;
  padding: 5px 30px;
  border-radius: 5px;
}
.button-CV button a {
  color: var(--blancoAzul);
}
/* About me */
.about-me {
  width: 100%;
  height: 100vh;
  background-color: var(--verde);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bubbles {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: var(--blancoAzul);
  border-radius: 50%;
  animation: animate 15s linear infinite;
  animation-duration: calc(200s / var(--i));
}
@keyframes animate {
  0% {
    transform: translateY(110vh) scale(0);
  }
  100% {
    transform: translateY(-20vh) scale(1);
  }
}
.about-me-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about-me-text {
    max-width: 550px;
    min-width: 300px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.about-me-text h2 {
    font-size: var(--xl);
    color: var(--colorBrand);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}
.about-me-text p {
    color: var(--black);
    font-size: var(--lg);
}
.about-me-img {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    min-width: 260px;
    max-width: 300px;
}
.about-me-img img {
    width: 100%;
}